.streamhubjs-searchresultitemchannelcategory {
    color:black;
    padding-left: 10px;
}

.streamhubjs-searchresultitemchannelcategory > .title {
    font-weight: bold;
    text-transform: capitalize;
}

.streamhubjs-searchresultitemchannelcategory > .description > pre {
    font-family: 'Open-Sans', sans-serif;
}