@import '../../../mixin';

pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.newslist-listitem {
    background-color: #fff;
    font-size: 15px;
}

.newslist-listitem  .hide {
    display: none;
}

.newslist-listitem.mobile {
    margin-bottom: 5px;
}

.newslist-listitem.tablet-desktop {
    // @include box-shadow2(1px 1px 8px #E2E2E2);
    border-radius: 3px;
    @include box-shadow2(0 3px 10px 0 rgba(0,0,0,.07));
    // box-shadow:0 3px 10px 0 rgba(0,0,0,.07);
}

.newslist-listitem > .img {
    // height: 200px;
    width: 100%;
    position: relative;
    width: 100%;
}

.newslist-listitem > .img > .top {
    position: absolute;
    top:5px;
    left:5px;
    background: rgb(54, 25, 25); /* Fall-back for browsers that don't support rgba */
    background: rgba(54, 25, 25, .5);
    border-radius: 3px;
}

.newslist-listitem .feedauthorlogo {
    margin:10px;
    width: 140px;
}

.newslist-listitem > .content {
    padding:30px;
}

.newslist-listitem > .content > .title {
    font-family:unisans-heavy-caps, sans-serif;
    padding: 10px 0px 15px 0px;
    font-size:24px;
    line-height: 1.15;
}

.newslist-listitem > .content > .author {
    padding: 0px 0px 10px 0px;
    font-size:12px;
}

.newslist-listitem > .content .authorItem {
    margin-right: 10px;
}

.newslist-listitem > .content > .readmorecontainer {
    padding: 20px 0px 10px 0px;
}

.newslist-listitem > .content > .text {
    width: 100%;
    overflow-x: hidden;
    padding-top: 20px;
}

.newslist-listitem > .content > .text > pre {
    overflow-x: hidden;
    font-family: 'Open-Sans', sans-serif;
}